
body{
height: 100%;
background-image: url('/static/assets/img/bg.jpg');
height: 100%;

  /* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0% 30% 10% 10%;
}


.african {
width :70%;
height: 60%;
margin: 30% 5% 0 50%;
text-align: center;
display: inline-block;
}


.filipina {

  width : 70%;
  height: 60%;
  margin: 30% 5% 0 50%;
align:center;
text-align: center;
display: inline-block;
}

.afri{
text-align: center;
margin: 5% 5% 20% 60%;
color:white;
}