{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
  {{ super() }}
 <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block title %}Select The Worker{% endblock %}
{% block content %}
<div class="content">

     {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}

 <div class="alert alert-success" style="text-align:center;" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

<br>

    <h1 class="heading">اختيار العاملة</h1>

    <h1 class="heading">{{cv}} :رقم تعريف العاملة </h1>


<br><br><br><br>
      {{ wtf.quick_form(form,novalidate=True)}}

</div>

<br><br><br><br><br><br><br><br>


{%include "footer.html"%}

{% endblock %}