{% extends 'bootstrap/base.html'%}



{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}العـمالة الكـينية{% endblock %}

{% block content %}
<br>
<div class="container" style="text-align:right">
  <h1 class="container" ><u>العمالة الكينية</u></h1>
  <p class="container" >يمكنكم الإختيار بضغطة زر من العمالة أدناه</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
<!--         <p style="color:white;text-align:center; background-color:green; ">{{ message }}</p>-->
         <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <br><br><br><br>

     {% if cvs == []: %}
    <div class="content">
        <h3>... لا توجد سير ذاتية متاحة الآن</h3>
<!--         <img src="https://media.giphy.com/media/26hkhPJ5hmdD87HYA/giphy.gif"/>-->
        {% endif %}
        </div>


<div class="container text-center add">
<a href="{{url_for('home')}}" class="btn btn-dark">الصفحة الرئيسية</a>

</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%include "footer.html"%}
{% endblock %}

