{% extends 'bootstrap/base.html'%}



{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Philippines Candidates{% endblock %}

{% block content %}

<div class="container">
  <h1 class="heading">Kenya Candidates</h1>
  <p class="description">You Can Choose From the Below Candidates</p>

     {% if cvs == []: %}
    <div class="content">
        <h3>No Available Cv For Now</h3>
<!--         <img src="https://media.giphy.com/media/26hkhPJ5hmdD87HYA/giphy.gif"/>-->
        {% endif %}
        </div>


<div class="container text-center add">
<a href="{{url_for('home')}}" class="btn btn-dark">Back To Home</a>

</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%include "footer.html"%}
{% endblock %}

