{% extends 'bootstrap/base.html'%}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}الشروط والأحكام {% endblock %}

{% block content %}

<div class="container text-right add" >
  <h3><b>الشروط والأحكام الخاصة بعملية إختيار العمالة</b></h3>
</div>

<div class="policy">
  <ul class="container text-right add">
      <p>  تخضع عملية الاختيار لرقابة المكتب لذا لابد من التأكد من توفر المتطلبات التالي ذكرها </p>

      <p> التأكد من ان جميع المعلومات المدخلة صحيحة وإلا سيؤدي إلى إلغاء الطلب بعد المراجعة  </p>

      <p> التأكد من ان رقم التواصل صحيحا لكي نتمكن من التواصل معكم لإكمال الإجراءات وإلا سيؤدي إلى إلغاء الطلب بعد المراجعة  </p>

      <p> التأكد من صلاحية التأشيرة و أن بيانات التأشيرة (رقم الصادر) صحيحة  </p>

            <p> التأكد من صحة رقم الهوية الوطنية أو الإقامة  </p>


      <p>  لأغراض التأمين والتحقق و عند الاختيار يجب التأكد من وضع <strong><u><b style="color:red;">رقم التعريف</b></u></strong> الصحيح لكل عاملة يتم اختيارها وإلا سوف يقوم النظام برفض عملية الاختيار تلقائياً  </p>
  </ul>
</div>
<br>



<div class="container text-center add">
<a href="{{url_for('select')}}" class="btn btn-dark">أوافق وارغب بالاستمرار </a>
  <a href="{{url_for('home')}}" class="btn btn-dark">لا أوافق</a>
</div>
<br><br><br><br><br><br><br><br><br><br>


{%include "footer.html"%}

{% endblock %}