{% extends 'bootstrap/base.html'%}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
 <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
{% endblock %}

{% block title %}الأسئلة الشائعة  {% endblock %}

{% block content %}

<div class="container text-right add" >
  <h3><b>الأسئلة الشائعة</b></h3>
</div>

<div class="policy">
  <ul class="container add">
      <a href="{{url_for('insurance')}}" class="btn btn-secondary"> ما المقصود بتأمين العمالة المنزلية ؟ </a>
      <br><br>
      <a href="{{url_for('visa')}}" class="btn btn-secondary"> كيف يتم إصدار تأشيرة العمالة المنزلية ؟ </a>
      <br><br>
       <a href="https://www.youtube.com/watch?v=Ng2spSYzolA " class="btn btn-secondary"> كيف يتم إصدار تأشيرة العمالة المنزلية ؟ (فيديو توضيحي )</a>
      <br><br>
       <a href="{{url_for('evisa')}}" class="btn btn-secondary">كيف يكون شكل التأشيرة بعد الإصدار  ؟ </a>
      <br><br>
      <a href="{{url_for('cancel')}}" class="btn btn-secondary">كيف يتم إلغاء التأشيرة  ؟ </a>
      <br><br>
       <a href="{{url_for('salary')}}" class="btn btn-secondary"> كيف يتم تحويل راتب العاملة المنزلية عن طريق القنوات الرسمية ؟ </a>
      <br><br>
       <a href="{{url_for('electronic')}}" class="btn btn-secondary">كيف يتم التعاقد الإلكتروني بين العميل ومكتب الإستقدام ؟ </a>
       <br><br>
      <a href="https://www.youtube.com/watch?v=f8qhExWlIos" class="btn btn-secondary">كيف يتم التعاقد الإلكتروني بين العميل ومكتب الاستقدام ؟ (فيديو توضيحي ) </a>
      <br><br>
         <a href="{{url_for('replace')}}" class="btn btn-secondary">ماهي التأشيرة البديلة (التعويضية) ؟ </a>
      <br><br>
          <a href="{{url_for('musaned')}}" class="btn btn-secondary">كيف يمكن التسجيل في نظام مساند والدخول للنظام ؟ </a>
  </ul>
</div>

<div class="container text-center add">
<!--<a href="{{url_for('select')}}" class="btn btn-dark">أوافق على الشروط والأحكام وارغب بالاستمرار </a>-->
  <a href="{{url_for('home')}}" class="btn btn-dark">العودة للصفحة الرئيسية</a>
</div>
<br><br><br><br><br><br><br><br><br><br>


{%include "footer.html"%}

{% endblock %}