{% extends 'bootstrap/base.html' %}

{% block title %}طلبات الاختيار{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
 <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
{% endblock %}

{% block content %}

 {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" style="text-align:center;" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
<br>
 <div class="heading1" style="text-align:center;">
        <h2>اختيارات و طلبات العملاء</h2>
        </div>

<br><br><br>
 {% if users == []: %}
    <div class="content">
        <h3>...لا توجد خيارات للعملاء حتى الآن</h3>
            </div>
<br>
                <div class="content">
<iframe src="https://giphy.com/embed/QBd2kLB5qDmysEXre9" width="480" height="288" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/time-mr-bean-look-at-the-QBd2kLB5qDmysEXre9"></a></p>


        {% endif %}
        </div>


{% for user in users %}

<table class="table">
    <thead>
    <tr>
        <th scope="col" style="text-align:center;">حالة الطلب</th>
        <th scope="col" style="text-align:center;">  الجنسية</th>
        <th scope="col" style="text-align:center;">  اسم العاملة المختارة</th>
        <th scope="col" style="text-align:center;">  رقم العاملة </th>
        <th scope="col" style="text-align:center;">(الصادر)رقم التاشيرة </th>
        <th scope="col" style="text-align:center;"> رقم الهُوِيَّة أو الإقامة</th>
        <th scope="col" style="text-align:center;">  رقم الجوال</th>
        <th scope="col" style="text-align:center;"> اسم العميل</th>
        <th scope="col" style="text-align:center;">رقم الطلب</th>
    </tr>


    <tbody>
    <tr>
        <td style="text-align:center;"> <a href="#" class="btn btn-success">Accept قبول</a>
         <a href="{{url_for('reject', users_id=user.id)}}" class="btn btn-danger"> Reject رفض</a></td>
        <td style="text-align:center;">{{user.bio.nationality}} </td>
        <td style="text-align:center;">{{user.bio.title}} </td>
        <td style="text-align:center;">{{user.author_id}} </td>
        <td style="text-align:center;">{{user.Visa}}</td>
        <td style="text-align:center;">{{user.Nid}}</td>
        <td style="text-align:center;">{{user.Contact}} </td>
        <td style="text-align:center;">{{user.Name}}</td>
        <th scope="row" style="text-align:center;">{{user.id}}</th>
    </tr>
    </tbody>
</table>

    {% endfor %}







<br><br>
<div class="content">
<p class="heading"><a href="{{url_for('add')}}" class="btn btn-dark">العودة إلى لوحة التحكم</a></p>
</div>

<br><br><br><br><br><br><br><br><br><br><br>

{%include "footer.html"%}
{% endblock %}