{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}تعديل بيانات السير الذاتية المضافة للموقع Temporary{% endblock %}

{% block content %}

<br>
<div class="content" >
  <h1 class="heading1" style="text-align:center;">Temporary تعديل بيانات السير الذاتية المضافة للموقع   </h1>
    <p class="description" >{{cvs_id}} </p>

  {{ wtf.quick_form(form) }}

  </div>

{% endblock %}