{% extends 'bootstrap/base.html' %}

{% block title %}Temporary قائمة العمالة المضافة للصفحة الرئيسية (المـوقع){% endblock %}

{% block styles %}
{{super()}}
 <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
 <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

 {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" style="text-align:center;" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

<br><br>
 <div class="heading1" style="text-align:center;">
        <h2>Temporary قائمة العمالة المضافة للصفحة الرئيسية (المـوقع) </h2>
        </div>
<br><br>

 {% if temps == []: %}
    <div class="content">
        <h3>...لا توجد سير ذاتية مضافة </h3>
        </div>
<br>
        <div class="content">
<iframe src="https://giphy.com/embed/tXL4FHPSnVJ0A" width="480" height="317" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/kim-novak-tXL4FHPSnVJ0A"></a></p>
        {% endif %}
        </div>

{% for temp in temps %}
<table class="table">

    <thead>
    <tr>
        <th scope="col" style="text-align:center;">الحالة</th>
        <th scope="col" style="text-align:center;">المهنة</th>
        <th scope="col" style="text-align:center;">العمر</th>
         <th scope="col" style="text-align:center;">اسم العاملة</th>
         <th scope="col" style="text-align:center;">رقم العاملة</th>
    </tr>


    <tbody>
    <tr>
        <td style="text-align:center;"> <a href="{{url_for('temp_edit', id=temp.id)}}" class="btn btn-success"> تعديل Edit</a>
        <a href="{{url_for('temp_delete', id=temp.id)}}" class="btn btn-danger"> حذف Delete</a></td>
        <td style="text-align:center;">{{temp.review}}</td>
        <td style="text-align:center;">{{temp.rating}} Years Old </td>
         <td style="text-align:center;">{{temp.title}}</td>
        <th scope="row" style="text-align:center;">{{temp.id}}</th>
    </tr>
    </tbody>
</table>

    {% endfor %}
<br><br>

<div class="content">
<p class="heading"><a href="{{url_for('add')}}" class="btn btn-dark">العودة إلى لوحة التحكم</a></p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{%include "footer.html"%}
{% endblock %}